@media (min-width: 1440px) {
}
@media (min-width: 1240px) {
}
@media (min-width: 992px) {
  .hero__h1 {
    font-size: 60px;
  }
  .label-large {
    font-size: 16px;
  }
  .text-large {
    font-size: 26px;
  }
  .hero__info {
    max-width: 665px;
    padding-right: 20px;
    margin-top: 80px;
  }
  .btn {
    font-size: 20px;
  }
  .hero {
    padding-bottom: 80px;
    &__container {
      position: relative;
    }
    &__link {
      margin-top: 150px;
    }
    &__anchor {
      position: absolute;
      margin-top: 0;
      bottom: 0;
      right: 16px;
    }
  }
  .header {
    position: relative;
    &__logo {
      width: 96px;
    }
    &__container {
      justify-content: flex-start;
      gap: 40px;
    }
    &__menu {
      display: flex;
    }
    &__contacts {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #ffffff1f;
      width: 218px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .menu__link {
      text-transform: none;
      font-size: 14px;
    }
  }
  .about {
    padding: 80px 0;
    &__container {
      gap: 44px;
    }
  }
  .product-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product-card {
    gap: 30px;
    padding: 80px;
    min-height: 662px;
    &__subtitle {
      max-width: 350px;
    }
  }
  .big-frame {
    padding: 244px 0;
    &__text {
      max-width: 710px;
    }
  }
  h3 {
    font-size: 28px;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: 3.8px;
  }
  .contact-block {
    padding: 114px 0;
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__text {
      max-width: 290px;
    }
    &__phone {
      font-size: 26px;
      font-family: 'RF Dewi Extended';
      letter-spacing: 0;
    }
    &__btn {
      margin-top: 40px;
    }
  }
  select,
  input[type='text'] {
    font-size: 14px;
    padding: 23px 18px;
  }
  .text-small {
    font-size: 14px;
  }
  .footer {
    padding: 80px 0;
    &__menu {
      height: fit-content;
    }
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 0;
    }
    &__logo {
      display: block;
      grid-area: 2 / 1 / 4 / 2;
    }
    &__contacts {
      gap: 0;
    }
    &__email {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 22px;
    }
  }
}
@media (min-width: 768px) {
}
